<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>699308566893-rofq4fomlsqc0o6mi8uqqfdd7fb5uvud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.699308566893-rofq4fomlsqc0o6mi8uqqfdd7fb5uvud</string>
	<key>API_KEY</key>
	<string>AIzaSyCPpQLr1Xu-d6NktMxaTfJOg4ptszU8Njk</string>
	<key>GCM_SENDER_ID</key>
	<string>699308566893</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-app-a7650</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-app-a7650.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:699308566893:ios:94f6e099ba7440ed211264</string>
</dict>
</plist>